.introduccion {
  background-color:#f8f8f8;
  padding: 20px;
  text-align: center;
}

.introduccion h2 {
  color: #333;
}

.introduccion p {
  color: #666;
  margin-bottom: 20px;
}

.introduccion img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
