<section class="procesos-geologicos">
  <div class="container">
    <h2>Procesos Geológicos</h2>
    <p>Los procesos geológicos son fenómenos naturales que actúan en la formación y transformación de la corteza terrestre. Algunos de los principales procesos geológicos son:</p>
    <div class="proceso">
      <h3>Formación de rocas y minerales</h3>
      <p>Este proceso incluye la consolidación y cristalización de materiales como el magma y los sedimentos, formando rocas ígneas, sedimentarias y metamórficas.</p>
    </div>
    <div class="proceso">
      <h3>Erosión y sedimentación</h3>
      <p>La erosión es el desgaste de la superficie terrestre por agentes como el agua, el viento y el hielo, mientras que la sedimentación es el depósito de estos materiales erosionados en capas.</p>
    </div>
   

  </div>
</section>
