<footer class="page-footer" style="background-color: #0A7EA1;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">¡Conoce más sobre Geología y Minería!</h5>
        <p class="grey-text text-lighten-4">Descubre el fascinante mundo de la geología y la minería. Aprende sobre los procesos geológicos, la extracción de minerales y la importancia de estos recursos para nuestra sociedad.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Recursos</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/introduccion']" style="color: white;">Introducción a la Geología</a></li>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/procesos']" style="color: white;">Procesos Geológicos</a></li>
 
        </ul>

      </div>
    </div>
  </div>
  <div class="container" style="text-align: center;">
    <p style="color: white; text-align: center;">© 2024 GeoApp de Geología y Minería - Cristian Camilo Osorio Granada</p>
  </div>
</footer>

